<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318733930126-oikji2q28so419pht6fg77e5utdaj5pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318733930126-oikji2q28so419pht6fg77e5utdaj5pa</string>
	<key>API_KEY</key>
	<string>AIzaSyDU6OUw-vwEyXifEcYdw95JUp6omAP-dxw</string>
	<key>GCM_SENDER_ID</key>
	<string>318733930126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wurigiri</string>
	<key>PROJECT_ID</key>
	<string>wurigiri-34a71</string>
	<key>STORAGE_BUCKET</key>
	<string>wurigiri-34a71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318733930126:ios:8e483d78dfe7426b06c3df</string>
</dict>
</plist>